.navbar-nav .nav-link.active{
    color: #CCC5B9;
}

.navbar {
    background-color: #403D39;
    color: white;
}

.navbar-brand {
    font-weight: 850;
    font-size: 3em;
    color: white;
}

.navbar-brand:hover {
    color: #CCC5B9;
}

.nav-item {
    font-weight: 700;
    font-size: 1.5em;
}

.nav-link {
    color: white;
}
.nav-link:hover{
    color: #CCC5B9;
}

.content {
    font-size: 18px;
    padding-top: 2em;
}

footer {
    background-color: #403D39;
    color: white;
}

.social-sites {
    border: solid;
    border-color: #403D39;
    padding: 1.5em;
   
}

.footer-list {
    margin: auto 2em;
    color: white;
}

.card {
    background-color:#403D39;
    width: auto;
    flex-wrap: wrap;
    border: solid #8C7A6B;
}

.card-body {
    color: white;
}


.portfolio-section {
    display: flex;
}


.contact-form {
    width: 100%;
    padding: 12px 2em;
    box-sizing: border-box;
    align-items: center;   
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    padding: 1;
    float:left;  
}

.contact-title {
    padding-bottom: 5px;
}

.message-input {
    padding: 2em;
}

.send-message {
    background-color: #8C7A6B;
}

.skills-list {
    list-style-type: none;
    font-size: 1.5em;
}

.resume-link {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.resume-link:hover {
    color: #BC8034;
}

#deployed-link, #github-link {
    color: white;
    text-decoration: none;
}

#deployed-link:hover {
    color: #CCC5B9;
}

#github-link:hover {
    color: #CCC5B9;
}

